h2 {
  color:#451978;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px purple;
}

img:hover {
  border: 22px solid #777;
}

body {
  background-color: lightblue
}
